*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Noto Sans TC;
  font-weight: 500;
  line-height: 1.5;
}

//color -------------------------------------------------//
//text color
$black: rgba(0, 0, 0, 1); //title
$text-gray: rgba(75, 75, 75, 1); //text
$white: rgba(255, 255, 255, 1);
$primary-blue: rgba(0, 39, 213, 1); //title, span

//border color
$section-border-color: rgba(108, 117, 125, 1);

//background color
$dark-bg-gray: rgba(237, 237, 237, 1);
$light-bg-gray: rgba(245, 245, 245, 1);
$input-gray: rgba(241, 241, 241, 1);

//font weight ---------------------------------------------------//
$extra-bold: 900;
$bold: 700; //title, subtitle, summary,

//padding ---------------------------------------------------//
.mgb-md {
  margin-bottom: 24px;
}
.mgb-lg {
  margin-bottom: 48px;
}

//button ---------------------------------------------------//
.button {
  display: block;
  width: fit-content;
  text-decoration: none;
  border: 1px solid $black;
  border-radius: 40px;
  padding: 8px 16px;
  font-size: 16px;
  color: $text-gray;

  &:hover {
    color: $white;
    background-color: $primary-blue;
  }
}
