.blog-container {
  max-width: 1296px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .blog-container {
    width: 100%;
    padding: 0px 12px;
  }
}

.search-input {
  max-width: 416px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 16px 48px 16px 16px;
  border: 1px solid $text-gray;
  border-radius: 40px;
  margin: 80px 12px 40px 12px;
  input {
    border: none;
    outline: none;
    height: 24px;
    font-size: 16px;
    &::placeholder {
      color: $text-gray;
      opacity: 0.8;
      font-weight: 500;
    }
    &:fovus {
      outline: none;
    }
  }
}
@media (max-width: 767px) {
  .search-input {
    width: 100%;
    margin: 0 0 40px 0;
  }
}

.blog-list {
  width: 100%;
  padding: 12px;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 24px;
  }
}

.card {
  width: 32%;
  margin-bottom: 80px;
  img {
    width: 100%;
    margin-bottom: 16px;
  }
  .card-content {
    time {
      margin-bottom: 4px;
    }
    h3 {
      color: $primary-blue;
      font-size: 24px;
    }
    h2 {
      color: $black;
      font-size: 28px;
      font-weight: $bold;
      margin-bottom: 8px;
    }
    p {
      color: $text-gray;
      margin-bottom: 16px;
    }
  }
}
@media (max-width: 1230px) {
  .card {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .card {
    width: 100%;
    margin-bottom: 32px;
  }
}

.pagination-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    fill: $text-gray;
    stroke: $text-gray;
  }
  p {
    width: 40px;
    color: $text-gray;
    text-align: center;
    &:hover {
      background-color: $primary-blue;
      border-radius: 40px;
      color: $white;
    }
  }
}
