//nav
nav {
  border-bottom: 1px solid $section-border-color;
  width: 100%;

  ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    a {
      display: block;
      font-weight: $bold;
      font-size: 28px;
      color: $black;
      text-decoration: none;
      padding: 24px;
    }
  }
}

//index-header
.i-header {
  display: flex;
  align-items: stretch; //讓img跟div同高
  .img {
    flex: 1;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .i-header-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true);
    background-size: cover;
    object-fit: cover;
    .i-header-content-inner {
      padding-left: 80px;
      h1 {
        font-size: 100px;
        font-weight: 900;
        color: $primary-blue;
        line-height: 1.2;
        margin-bottom: 12px;
      }
      h3 {
        font-size: 28px;
        font-weight: $bold;
        color: $primary-blue;
      }
    }
  }
}
.i-header-intro1 {
  background-color: $white;
  position: absolute;
  top: 500px;
  left: -100px;
  right: 80px;
  z-index: 100;
  padding: 60px 40px 60px 40px;
  p {
    font-size: 20px;
    color: $black;
    margin-bottom: 16px;
  }
  ul {
    display: flex;
  }
}
.i-header-intro2 {
  display: none;
  padding: 40px 24px;
  margin-left: 12px;
  margin-right: 12px;
  p {
    font-size: 20px;
    color: $black;
    margin-bottom: 16px;
  }
  ul {
    display: flex;
  }
}
@media (max-width: 1400px) {
  .i-header .i-header-content .i-header-content-inner {
    padding-left: 40px;
  }
  .i-header-intro1 {
    display: none;
  }
  .i-header-intro2 {
    display: block;
    padding: 40px;
  }
}
@media (max-width: 768px) {
  .i-header {
    flex-direction: column;
    align-items: center;
    .i-header-content {
      width: 100%;
      .i-header-content-inner {
        padding: 40px 24px;
      }
    }
  }
  .i-header-intro1 {
    display: none;
  }
  .i-header-intro2 {
    display: block;
  }
}

//blog-header
.b-header {
  display: flex;
  align-items: stretch; //讓img跟div同高
  .img {
    flex: 1;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .b-header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true);
    background-size: cover;
    object-fit: cover;
    .b-header-content-inner {
      padding-left: 80px;
      h1 {
        font-size: 120px;
        font-weight: 900;
        color: $primary-blue;
      }
      h3 {
        font-size: 28px;
        font-weight: $bold;
        color: $primary-blue;
      }
    }
  }
}
@media (max-width: 1023px) {
  .b-header {
    .b-header-content {
      .b-header-content-inner {
        padding: 20px;
        h1 {
          font-size: 80px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .b-header {
    flex-direction: column;
    .b-header-content {
      .b-header-content-inner {
        padding: 24px;
        h1 {
          font-size: 52px;
        }
      }
    }
  }
}

//detai-header
.d-header {
  display: flex;
  align-items: center;
  gap: 24px;
  border-bottom: 1px solid $section-border-color;
  margin-bottom: 80px;
  .img {
    width: 48%;
    img {
      display: block;
      width: 100%;
    }
  }

  .d-header-content {
    max-width: 636px;
    margin-right: 24px;
    time {
      margin-bottom: 4px;
    }
    .d-header-subtitle {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 8px;
      h3 {
        font-size: 24px;
        color: $primary-blue;
      }
      span {
        font-size: 16px;
        color: $white;
        background-color: $primary-blue;
        padding: 6px 12px;
        border-radius: 40px;
      }
    }
    .d-header-title {
      font-size: 28px;
      font-weight: $bold;
      color: $black;
      margin-bottom: 8px;
    }
    p {
      color: $black;
      font-size: 16px;
      margin-bottom: 16px;
    }
  }
}
@media (max-width: 1023px) {
  .d-header {
    flex-direction: column;
    margin-bottom: 64px;
    .img {
      width: 100%;
      height: auto;
    }
    .d-header-content {
      padding: 48px 12px;
    }
  }
}
@media (max-width: 767px) {
  .d-header {
    flex-direction: column;
    margin-bottom: 64px;
    .img {
      width: 100%;
      height: auto;
    }
    .d-header-content {
      padding: 48px 12px;
    }
  }
}

//footer

.about {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $section-border-color;
  padding: 80px;
  margin-top: 80px;
  .mail {
    font-size: 32px;
  }
  .icon ul {
    display: flex;
    gap: 4px;
    a {
      display: block;
      width: fit-content;
    }
  }
}
.copyRight {
  display: flex;
  justify-content: center;
  border-top: 1px solid $section-border-color;
  p {
    color: $black;
    padding: 24px;
  }
}

@media (max-width: 767px) {
  .about {
    display: none;
  }
  .copyRight {
    border-top: 1px solid $section-border-color;
    margin-top: 64px;
  }
}
